@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600&display=swap');



.body
{
    font-family: 'Poppins', sans-serif;
}
.container
{
    width: 85%;
    height: 80vh;
    margin: 30px auto ;
    border: 3px solid lightgray;
    border-radius: 16px;
    padding: 20px 20px;
    display: flex;
}
.card-img
{
    object-fit: cover;
    height: 75vh;
    width: 350px;
    border-radius: 16px;
    padding: 0px;
    margin-top: 23px;


}
.card
{
   width: auto;
   padding: 0px 25px;
   align-items: center;
   margin: 0px;
}
.discreption
{
    width: 650px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;

    
}
.P-1
{
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: start;
    font-family: 'Poppins', sans-serif;  

}
.P-2
{
    padding-left: 7px;
    color: rgb(129, 126, 126);
    text-decoration: line-through;
    font-weight: bolder;
}
.P-3
{
    padding-left: 7px;
    color: black;
    text-decoration: line-through;
    font-weight: bolder;
}

.btn
{
    background-color: #FFB830;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 4px 10px;
    font-size: 18px ;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.title
{
    width: 400px;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.btn-2
{
    padding: 10px 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
}
.btn-3
{
    color: black;
    padding: 10px 10px;
    border: 2px solid black;
    background-color:white;    
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif; 
    border-radius: 3px;  

}